*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  margin: 0;
  border-radius: 50%;
  outline: 0.36rem solid white;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-size: 1.125rem;
  font-family: "Kumbh Sans", sans-serif;
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top -510px right 170px, bottom -510px left 170px;
  background-color: hsl(185, 75%, 39%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(353px, 85vw);
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}

.profile_pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5.2rem 5.89rem 1.6rem 5.89rem;
  background-image: url(../images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-bottom: 1px solid hsl(0, 0%, 59%);
}

.profile_pic img {
  margin-bottom: 1.3em;
  transform: translateY(6px);
}

.profile_pic h1 {
  margin-bottom: 0.6em;
  font-size: 1.2rem;
  color: hsl(229, 23%, 23%);
  transform: translateY(3px);
}

.profile_pic h1 span {
  font-size: 1rem;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

.profile_pic p {
  font-size: 0.9rem;
  color: hsl(0, 0%, 59%);
}

.details {
  width: 100%;
  padding: 0.3rem 1rem;
}

.details ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.details li h1 {
  font-size: 1.1rem;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

.details li span {
  display: block;
  margin-top: 0.5em;
  font-size: 0.7rem;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1440px) {
  body {
    background-position: top -510px left -260px, bottom -590px right -230px;
  }

  .details {
    padding: 0.4rem 1rem;
  }
}
