* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  background-color: hsl(225, 100%, 94%);
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: hsl(225, 100%, 98%);
  border-radius: 1rem;
  overflow: hidden;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container > * {
  margin-bottom: 2.5rem;
}

.hero {
  width: 100%;
}

.hero img {
  width: 100%;
}

.order {
  text-align: center;
}

.order h1 {
  color: hsl(223, 47%, 23%);
  margin-bottom: 1rem;
  font-weight: 900;
}
.order p {
  line-height: 1.7rem;
  font-size: 1.1rem;
  font-weight: 400;
  color: hsl(225, 13%, 48%);
}

.plan {
  width: 100%;
  display: flex;
  justify-content: center;
}

.plan_card {
  padding: 1.5rem;
  width: 80%;
  border-radius: 0.5rem;
  background-color: hsl(230, 46%, 95%);
  display: flex;
  align-items: center;
}

.plan_card .change {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.plan_card img {
  margin-right: 1rem;
}

.plan_card .plan_details h2 {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.plan_card .plan_details p {
  color: hsl(225, 13%, 48%);
}

.plan_card .change span a {
  color: hsl(245, 75%, 52%);
  font-weight: 900;
}

.payment {
  width: 100%;
  display: flex;
  justify-content: center;
}

.payment a {
  width: 100%;
  text-decoration: none;
}

.payment a h2 {
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

.button {
  width: 80%;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 5px 10px hsl(245, 75%, 52%);
  background-color: hsl(245, 75%, 52%);
  transition: background-color 450ms ease-in-out;
}

.button:hover {
  background-color: rgba(56, 41, 224, 0.308);
}

.cancel a {
  text-decoration: none;
  color: hsl(225, 13%, 48%);
  font-weight: 900;
  display: flex;
  justify-content: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  justify-self: flex-end;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1440px) {
  body {
    width: 100%;
  }

  .container {
    width: 30%;
  }

  .container > * {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  body {
    background-size: 180%;
  }
  .container {
    width: 100%;
    margin: auto 1rem;
  }

  .container > * {
    margin-bottom: 1rem;
  }
}
