:root{
  --clr-primary-400: hsl(220, 98%, 61%);
  --clr-bg-start: hsl(192, 100%, 67%);
  --clr-bg-end: hsl(280, 87%, 65%);

  --clr-bg-body: hsl(235, 21%, 11%);
  --clr-bg-container: hsl(235, 24%, 19%);

  --bg-img-dark-desktop: url(../assets/images/bg-desktop-dark.jpg);
  --bg-img-dark-mobile: url(../assets/images/bg-mobile-dark.jpg);
  
  --ft-clr-500: hsl(234, 39%, 85%);
  --ft-clr-500-hover: hsl(236, 33%, 92%);
  --ft-clr-400: hsl(234, 11%, 52%);
  --ft-clr-300: hsl(233, 14%, 35%);
  --ft-clr-200:hsl(237, 14%, 26%);

  /* light theme */
  --bg-img-light-desktop: url(../assets/images/bg-desktop-light.jpg);
  --bg-img-light-mobile:  url(../assets/images/bg-mobile-light.jpg);

  --clr-bg-container-light: hsl(0, 0%, 98%);
  --clr-bg-body-light: hsl(236, 33%, 92%);
  --ft-clr-300-light: hsl(233, 11%, 84%);
  --ft-clr-200-light: hsl(236, 9%, 61%);
  --ft-clr-500-light: hsl(235, 19%, 35%);
}


@media(prefers-color-scheme: dark){
  :root{
    --clr-primary-400: hsl(220, 98%, 61%);
    --clr-bg-start: hsl(192, 100%, 67%);
    --clr-bg-end: hsl(280, 87%, 65%);
  
    --clr-bg-body: hsl(235, 21%, 11%);
    --clr-bg-container: hsl(235, 24%, 19%);

    --bg-img-dark-desktop: url(../assets/images/bg-desktop-dark.jpg);
    --bg-img-dark-mobile: url(../assets/images/bg-mobile-dark.jpg);
    
    --ft-clr-500: hsl(234, 39%, 85%);
    --ft-clr-500-hover: hsl(236, 33%, 92%);
    --ft-clr-400: hsl(234, 11%, 52%);
    --ft-clr-300: hsl(233, 14%, 35%);
    --ft-clr-200:hsl(237, 14%, 26%);
  }
}

@media(prefers-color-scheme: light){
  :root{
    --bg-img-dark-desktop: var(--bg-img-light-desktop);
    --bg-img-dark-mobile:  var(--bg-img-light-mobile);

    --clr-bg-body: var(--clr-bg-body-light);
    --clr-bg-container: var(--clr-bg-container-light);

    --ft-clr-500: var(--ft-clr-500-light);
    --ft-clr-400: var(--ft-clr-200-light)
    --ft-clr-300: var(--ft-clr-300-light)
    --ft-clr-200: var(--ft-clr-200-light);
  }
}

[color-scheme = "dark"]{
  --clr-primary-400: hsl(220, 98%, 61%);
  --clr-bg-start: hsl(192, 100%, 67%);
  --clr-bg-end: hsl(280, 87%, 65%);

  --clr-bg-body: hsl(235, 21%, 11%);
  --clr-bg-container: hsl(235, 24%, 19%);

  --bg-img-dark-desktop: url(../assets/images/bg-desktop-dark.jpg);
  --bg-img-dark-mobile: url(../assets/images/bg-mobile-dark.jpg);
  
  --ft-clr-500: hsl(234, 39%, 85%);
  --ft-clr-500-hover: hsl(236, 33%, 92%);
  --ft-clr-400: hsl(234, 11%, 52%);
  --ft-clr-300: hsl(233, 14%, 35%);
  --ft-clr-200:hsl(237, 14%, 26%);
}

[color-scheme = "light"]{
  --bg-img-dark-desktop: var(--bg-img-light-desktop);
  --bg-img-dark-mobile:  var(--bg-img-light-mobile);

  --clr-bg-body: var(--clr-bg-body-light);
  --clr-bg-container: var(--clr-bg-container-light);

  --ft-clr-500: var(--ft-clr-500-light);
  --ft-clr-400: var(--ft-clr-200-light)
  --ft-clr-300: var(--ft-clr-300-light)
  --ft-clr-200: var(--ft-clr-200-light);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.attribution { 
  margin-top: 8em;
  font-size: 11px; 
  text-align: center; 
  color: var(--ft-clr-500);
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-bg-body);
  background-image: var(--bg-img-dark-mobile);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.175rem;
}

#app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 50em) {
  body{
    background-image: var(--bg-img-dark-desktop);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .attribution{
    margin-top: 2em;
  }
}