$clr-primary-400:  hsl(25, 97%, 53%);
$clr-primary-300: hsl(213, 19%, 18%);
$clr-bg: hsl(216, 12%, 8%);
$ff-clr-400: hsl(216, 12%, 54%);
$ff-clr-300: hsl(217, 12%, 63%);
$ff-clr-neutral: hsl(0, 0%, 100%);